:host ::ng-deep .p-card {
  background-color: var(--bluegray-800);
  .p-card {
    background-color: var(--bluegray-900);
  }
  .offer-side-header {
    .offer-side-owner-info {
      small {
        max-width: 80%;
        flex-wrap: nowrap;
        word-break: break-word;
      }
    }
  }
  .p-card-footer {
    padding: 0;
  }
}

.cursor-disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 1020px) {
  :host ::ng-deep .offer-side-footer {
    .action-button-container {
      button {
        .p-button-label {
          display: none !important;
        }
      }
    }
  }
  :host ::ng-deep .offer-side-header {
    button {
      .p-button-label {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .sm\:col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
