

button.login-btn {
    transition: all .3s;
    width: 10rem;
}

.login-btn-container {
    margin-top: 5rem;
}

.card-header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 193, 7, .6);

    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;

    span {
        padding-left: 2rem;
    }
}

.form-label-group {
    padding-top: 4rem;

    .invalid-feedback {
        position: absolute;
        padding-top: 1.3rem;
    }

    label
    {
        position: absolute;
        transform: translateX(.8rem) translateY(-2.2rem);
        transition: all .4s;
        font-size: 1.3rem;
        pointer-events: none;
        cursor: text;
        opacity: .6;
        
    }

    input:focus {
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    input:focus ~ label,
    input:valid ~ label
    {
        transform: translateX(0rem) translateY(0rem);
        font-size: 1rem;
        cursor: default;
        opacity: 1;
    }
    
    input:focus {
        box-shadow: 1px 1px rgba(0,0,0,.2);
    }
}