:host ::ng-deep .p-card {
  .p-card-body {
    padding-top: 0;
    background-color: var(--bluegray-900);
    .p-card-content {
      padding-top: 0;
    }
  }
}

button.login-btn {
  transition: all 0.3s;
  width: 10rem;
}

.login-btn-container {
  margin-top: 5rem;
}

.card-header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 193, 7, 0.6);

  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  span {
    padding-left: 2rem;
  }
}

.p-float-label {
  .invalid-feedback {
    position: absolute;
    padding-top: 1.3rem;
  }
}

@media only screen and (max-width: 576px) {
  .sm\:col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}
