:host ::ng-deep p-menubarsub {
  width: 100%;

  .p-submenu-list {
    right: 0;
  }
}

.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  ul.navbar-nav {
    height: 3.8rem;

    li.nav-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 0.3rem;

      &.is-active {
        transition: all 0.3s;
        -webkit-box-shadow: inset 0px 0px 25px 8px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 0px 25px 8px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 25px 8px rgba(9, 5, 56, 0.3);
      }

      &:hover {
        cursor: pointer;
      }
    }

    .config-user-toggle {
      &:hover {
        background-color: inherit;
      }
    }
  }

  span.navbar-brand {
    margin: 0;
    width: 20rem;
    img {
      width: 3rem !important;
    }
    span {
      padding-left: 0.5rem;
    }
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #ffffff;
      padding-left: 0.4rem;
    }
  }
}

.config-user-dropdown {
  transition: all 0.5s;

  opacity: 0;
  display: block;
  top: 3rem;
  left: 0;
  transform: scale(0);

  li.nav-item {
    padding: 0.5rem 1rem !important;
    margin: 0;
    transition: all 0.4s;
    border-radius: 0rem !important;

    &:hover {
      background-color: rgba(52, 89, 230, 0.15);
    }
  }
}

.config-user-dropdown.show {
  opacity: 1;
  transform: translateY(0rem) scale(1);
}
