<div class="grid">
  <div class="col-12 pt-4">
    <p-card>
      <ng-template pTemplate="header">
        <div class="main-card-header-container flex justify-content-center align-items-center">
          <i class="pi pi-play" style="font-size: 2rem"></i>
          <h2 class="text-center p-3">Search your dream offer</h2>
          <i class="pi pi-play" style="font-size: 2rem"></i>
        </div>
        <p-divider styleClass="m-0 p-0"></p-divider>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="grid">
          <div class="md:col-4 sm:col-12">
            <p-card styleClass="bg-gray-900">
            <ng-template pTemplate="header">
              <div class="filters-card-header-container flex justify-content-center align-items-center">
                <h3 class="text-center flex justify-content-center align-items-center">
                  <i class="pi pi-filter pr-2"></i>
                   <span>Applied Filters</span>
                </h3>
              </div>
              <p-divider styleClass="m-0 p-0"></p-divider>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="filters-card-content-container">
                <div class="filter-salary-container flex flex-row justify-content-between align-items-center">
                  <span>
                    Salary Range:
                    <strong class="pl-2">{{salaryRange[0] + ' - ' + salaryRange[1]}}</strong>
                  </span>
                  <p-slider [(ngModel)]="salaryRange" [range]="true" [min]="finalMinSalary" [max]="finalMaxSalary" class="salary-slider"></p-slider>
                </div>
                <div class="filter-date-container flex flex-row justify-content-between align-items-center">
                  <span>Period</span>
                  <p-dropdown [options]="periods" [(ngModel)]="selectedPeriod" optionLabel="label"></p-dropdown>
                </div>
                <div class="filter-level-container flex flex-row justify-content-between align-items-center">
                  <span>Entry Level</span>
                  <p-dropdown [options]="levels" [(ngModel)]="selectedEntryLevel" optionLabel="label"></p-dropdown>
                </div>
              </div>
            </ng-template>
            </p-card>
          </div>
          <div class="md:col-8 sm:col-12">
            <div class="p-inputgroup">
              <button type="button" pButton pRipple label="Search" icon="pi pi-search" (click)="searchForOffers()"></button>
              <p-chips [(ngModel)]="tags" [allowDuplicate]="false" (onAdd)="checkIfCanBeAdded($event)"></p-chips>   
            </div>
            <div class="pt-2">
              <div class="p-text-left">
                <strong class="pl-3">Maximum length of skills are 6</strong>
              </div>
            </div>
            <div *ngIf="!offersToDisplay.length" class="nothing-to-display-splash"> <p>Nothing to display at this time :/</p></div>
            <p-orderList [value]="this.offersToDisplay" controlsPosition="none" class="p-orderlist-users" styleClass="mt-4">
              <ng-template let-offer pTemplate="item">
                <div class="p-orderlist-offer-container">
                  <div class="flex flex-row justify-content-between align-items-center">
                    <div class="offer-short-info">
                      <h3 class="m-0 offer-title">{{offer.title}}</h3>
                      <p class="offer-short-description text-muted flex pl-1 my-2 overflow-hidden">
                        {{offer.description.length > 30 ? offer.description.split('').slice(0,30).join('') + '...' : offer.description}}
                      </p>
                      <span>
                        <p-badge *ngFor="let badge of offer.tags"
                        class="ml-2" [value]="'' + badge">
                        </p-badge>
                      </span>
                    </div>
                    <div class="offer-action-list flex flex-column justify-content-between">
                      <span class="text-right">{{offer.createdAt | date}}</span>
                      <button pButton type="button" class="p-button-raised p-button-warning p-button-rounded p-button-sm mt-4" 
                      label="To offer" icon="pi pi-arrow-right" [routerLink]="['../offer-details', offer._id]"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
          </p-orderList>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
          <p-paginator [rows]="this.pagination.itemsPerPage" [totalRecords]="numberOfTotalRecords"
          [rowsPerPageOptions]="rowsPerPageOptions"
          (onPageChange)="pageChanged($event)">
          </p-paginator>
        </ng-template>
  </p-card>
  </div>
</div>