:host ::ng-deep .p-card {
  .p-orderlist-controls {
    display: none;
  }
  .p-card-content {
    .lack-of-items-info {
      width: 95%;
      transform: translateY(2rem);
    }
    .saved-offers-content {
      // margin-top: 4rem;
      margin-top: 0.5rem;
    }
    .saved-offers-filters {
      .saved-offers-title-filter {
        max-width: 60%;
      }
      .saved-offers-date-filter {
        width: 100%;
        .p-calendar {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  :host ::ng-deep .saved-offers-filters {
    flex-direction: column !important;
    .saved-offers-title-filter {
      max-width: 100% !important;
    }
    .saved-offers-date-filter {
      text-align: left !important;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .p-calendar {
        width: 100% !important;
      }
    }
  }
  :host ::ng-deep .offer-date-with-action {
    button {
      display: flex;
      justify-content: center;
      .p-button-label {
        display: none;
      }
    }
  }
}
