<div class="grid pt-4">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="saved-offers-header-container flex justify-content-center align-items-center">
                    <i class="pi pi-heart" style="font-size: 2rem"></i>
                    <h2 class="text-center p-3">Your saved offers</h2>
                </div>
                <p-divider styleClass="m-0"></p-divider>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="saved-offers-filters flex justify-content-between">
                    <div class="p-inputgroup saved-offers-title-filter">
                        <button type="button" pButton pRipple class="p-button-info" label="Search" icon="pi pi-search"
                        (click)="searchSavedOffers()"></button>
                        <input type="text" pInputText placeholder="Example title..." [(ngModel)]="searchPhrase">         
                    </div>
                    <div class="saved-offers-date-filter text-right">
                        <label for="range" class="mr-2">Data Range</label>
                        <p-calendar [(ngModel)]="dateRange" [selectionMode]="'range'" (onClickOutside)="onDateClickOutside()"></p-calendar>
                    </div>
                </div>
                <div class="lack-of-items-info text-center absolute" *ngIf="!savedOffers.length">
                    <h3>There is no offers. Try again with different filters</h3>
                </div>
                <div class="saved-offers-content">
                    <p-orderList [value]="savedOffers">
                        <ng-template let-offer pTemplate="item">
                            <div class="p-orderlist-offer-container">
                                <div class="flex flex-row justify-content-between align-items-center">
                                    <div class="offer-short-info flex flex-column justify-content-between">
                                        <h3 class="m-0 offer-title">{{offer.title}}</h3>
                                        <span class="mt-3">
                                          <p-badge *ngFor="let badge of offer.tags"
                                          class="ml-2" [value]="'#' + badge">
                                          </p-badge>
                                        </span>
                                    </div>
                                    <div class="offer-date-with-action flex flex-column justify-content-between">
                                        <span class="text-right pr-2">{{offer.createdAt | date}}</span>
                                        <button pButton type="button" class="p-button-raised p-button-warning p-button-rounded p-button-sm mt-4" 
                                        label="Details" icon="pi pi-arrow-right" [routerLink]="['../offer-details', offer._id]"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="saved-offers-footer">
                    <p-paginator [rows]="this.pagination.itemsPerPage" [totalRecords]="numberOfTotalRecords"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    (onPageChange)="pageChanged($event)">
                    </p-paginator>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>