:host ::ng-deep .p-card {
  .p-orderlist-controls {
    display: none;
  }
  .p-card-content {
    .lack-of-items-info {
      width: 95%;
      transform: translateY(2rem);
    }
    .saved-offers-content {
      // margin-top: 4rem;
      margin-top: 0.5rem;
    }
    .saved-offers-filters {
      .saved-offers-title-filter {
        max-width: 60%;
      }
      .saved-offers-date-filter {
        width: 100%;
        .p-calendar {
          width: 50%;
        }
      }
    }
  }
}
