<div class="container-fluid p-4">
  <div class="grid">
    <div class="md:col-12">
      <p-panel class="header-panel">
        <ng-template pTemplate="header">
          <p-paginator class="mail-list__header-paginator" styleClass="w-max" [rows]="10" [totalRecords]="100"
                       [pageLinkSize]="3"></p-paginator>
        </ng-template>
      </p-panel>
      <div *ngFor="let mail of mailList">
        <p-accordion [expandIcon]="'pi pi-arrow-up'"
                     [collapseIcon]="'pi pi-arrow-down'"
                     (onOpen)="observeMessageContent(mail?._id)">
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="w-full flex justify-content-between px-4">
                <span>{{!mail.title?.length ? '(Empty)' : mail.title}}</span>
                <span>{{mail.receiver?.name + ' ' + mail.receiver?.surname}}</span>
                <span>{{mail.type}}</span>
                <span>{{mail.sendTime | date}}</span>
              </div>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
