:host ::ng-deep {
  .header-panel-container {
    width: 60rem;
    
  }
  .header-panel {
    .p-panel-header {
      .mail-list {
        &__header-paginator {
          width: 100% !important;

          .p-paginator {
            width: 100% !important;
          }
        }
      }
    }

    .p-panel-content {
      display: none !important;
    }
  }
}

.mail-list-records {
  &__mail-heading-ceil {
    &:not(:first-child) {
      text-align: center;
    }

    flex: 0 1 20%;
  }
}
