<div class="container-fluid p-4">
  <div class="grid">
    <div class="md:col-12 header-panel-container">
      <p-panel class="header-panel">
        <ng-template pTemplate="header">
          <p-paginator class="mail-list__header-paginator" styleClass="w-max" [rows]="4" [totalRecords]="100"
                       [pageLinkSize]="1"></p-paginator>
                       <!-- <p-paginator [first]="first" [rows]="1" [totalRecords]="100" (onPageChange)="onPageChange($event)"
                       [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator> -->
        </ng-template>
      </p-panel>
      <div *ngFor="let mail of mailList">
        <p-accordion [expandIcon]="'pi pi-arrow-up'"
                     [collapseIcon]="'pi pi-arrow-down'"
                     (onOpen)="observeMessageContent(mail?._id)">
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="mail-list-records w-full flex justify-content-between px-4">
                <span class="mail-list-records__mail-heading-ceil">{{mail | userNameExtract}}</span>
                <span class="mail-list-records__mail-heading-ceil">{{mail.type}}</span>
                <span class="mail-list-records__mail-heading-ceil">{{mail.sendTime | date}}</span>
                <p-tag *ngIf="shouldShowNewTag(mail)" styleClass="mr-2" severity="warning" value="New"
                       [rounded]="true"></p-tag>
              </div>
            </ng-template>
            <ng-template pTemplate="body">
              <div class="message-content__container">
                <div class="message-content__container-heading w-full flex justify-content-start">
                  <strong></strong>
                  <strong>Title: {{getMessageContentDto(mail._id)?.title}}</strong>
                </div>
                <p>{{getMessageContentDto(mail._id)?.content}}</p>
              </div>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
