<div class="container-fluid mt-4">
  <div class="grid">
    <div class="md:col-4 sm:col-12">
      <p-card>
        <ng-template pTemplate="header">
          <div class="user-list-header">
            <h2 class="m-0 pt-4 flex justify-content-center"></h2>
          </div>
          <p-divider></p-divider>
        </ng-template>
        <ng-template pTemplate="body">
          <p-listbox #folderOptionsRef
                     [options]="folders" [(ngModel)]="selectedFolder" optionLabel="name" [dataKey]="'folderType'"
                     (onChange)="optionChanged($event)">
            <ng-template let-folder pTemplate="item">
              <div class="w-full flex justify-content-between align-items-center">
                <span>{{folder.getFolderType() | toCapitalize }}</span>
                <span>{{ folder.getReadCount() + '/' + folder.getTotalCount()}}</span>
              </div>
            </ng-template>
          </p-listbox>
        </ng-template>
      </p-card>
    </div>
    <div class="md:col-8 sm:col-12">
      <p-card styleClass="bg-secondary mail-wrapper">
        <ng-template pTemplate="body">
          <create-mail *ngIf="shouldDisplayNewMailForm(); else mailListRef;"></create-mail>
          <ng-template #mailListRef>
            <mail-list [mailList]="mailList" [folder]="selectedFolder?.getFolderType()" *ngIf="!shouldDisplayNewMailForm()"></mail-list>
          </ng-template>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

