<div class="container-fluid mt-4">
  <div class="grid">
    <div class="md:col-8 sm:col-12">
      <p-card styleClass="bg-secondary">
        <ng-template pTemplate="header">
          <h3 class="m-0 pt-4 flex justify-content-around">
            <p-selectButton [options]="folderOptions" [(ngModel)]="selectedFolder" optionValue="folderType"
                            (onChange)="optionChanged($event)">
              <ng-template let-folderOption>
                <div class="folder-option-container">
                  <i [class]="folderOption.iconClass"></i>
                  <span class="ml-2">{{folderOption.label}}</span>
                </div>
              </ng-template>
            </p-selectButton>
          </h3>
          <p-divider></p-divider>
        </ng-template>
        <ng-template pTemplate="body">
          <mail-list [mailList]="mailList" *ngIf="selectedFolder !== 'NEW_MESSAGE'"></mail-list>
          <create-mail *ngIf="selectedFolder === 'NEW_MESSAGE'"></create-mail>
        </ng-template>
        <ng-template pTemplate="footer">
          Footer content here
        </ng-template>
      </p-card>
    </div>
    <div class="md:col-4 sm:col-12">
      <p-card>
        <ng-template pTemplate="header">
          <div class="user-list-header">
            <h2 class="m-0 pt-4 flex justify-content-center">Users</h2>
          </div>
          <p-divider></p-divider>
        </ng-template>
        <ng-template pTemplate="body">
          Header content here
        </ng-template>
        Body Content
        <ng-template pTemplate="footer">
          Footer content here
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

