<div class="container-fluid pt-4">
  <div class="grid pt-4">
    <div class="sm:col-12 md:col-12 lg:col-4 user-list-col">
      <p-card>
        <ng-template pTemplate="header">
          <div
            class="card-search-header border-round flex align-items-center justify-content-center"
          >
            <i class="pi pi-angle-double-right pr-4"></i>
            <h2 class="m-0">Find Person</h2>
            <i class="pi pi-angle-double-left pl-4"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="filter-options-container d-flex flex-column">
            <div
              class="type-of-user-container d-flex flex-row align-items-center justify-content-between"
            >
              <p-dropdown
                styleClass="w-full mb-2"
                [options]="searchRolesNames"
                optionLabel="name"
                [showClear]="true"
                [(ngModel)]="selectedPersonType"
              ></p-dropdown>
            </div>
            <div class="search-container pt-4">
              <span
                class="p-float-label w-full search-container__input-container"
              >
                <input
                  pInputText
                  class="w-full"
                  type="text"
                  name="search-user-input"
                  [(ngModel)]="searchUserPhrase"
                />
                <label for="search-user-input">Name</label>
              </span>
              <button
                pButton
                type="button"
                label="Find"
                icon="pi pi-search"
                iconPos="right"
                class="p-button-md p-button-secondary ml-2 text-overflow-ellipsis"
                (click)="findUser()"
              ></button>
            </div>
            <p-contextMenu
              #userItemContextMenu
              [model]="dropdownRightClickItems"
            ></p-contextMenu>
            <p-orderList
              [value]="userList"
              controlsPosition="none"
              class="p-orderlist-users"
              styleClass="mt-3"
              #rightClickUserContextMenu
              [selection]="[selectedUser]"
            >
              <ng-template let-user pTemplate="item">
                <div
                  class="flex justify-content-start p-orderlist-user"
                  (click)="observeUserRoomKey(user._id, 'click')"
                  (contextmenu)="
                    showRightClickMenu(
                      userItemContextMenu,
                      $event,
                      user._id,
                      user.role
                    )
                  "
                >
                  <div class="user-avatar-container">
                    <img src="{{ user.avatar.url }}" class="user-avatar" />
                  </div>
                  <div
                    class="flex justify-content-between align-items-around w-full"
                  >
                    <div class="flex flex-column justify-content-around pl-3">
                      <strong>{{ user.name }} {{ user.surname }}</strong>
                      <em class="text-xs">{{
                        this.getUserTextActiveStatus(user._id)
                      }}</em>
                    </div>
                    <div class="contact-attributes">
                      <div
                        class="green-dot"
                        *ngIf="isUserLoggedIn(user._id)"
                      ></div>
                      <div
                        class="red-dot"
                        *ngIf="!isUserLoggedIn(user._id)"
                      ></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-paginator
            [rows]="this.pagination.itemsPerPage"
            [totalRecords]="numberOfTotalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            (onPageChange)="pageChanged($event)"
            #paginator
          >
          </p-paginator>
        </ng-template>
      </p-card>
    </div>
    <div class="sm:col-12 md:col-12 lg:col-8 user-chat-col">
      <p-card styleClass="border-round">
        <ng-template pTemplate="header">
          <div class="card-user-header flex py-3 px-4">
            <div class="header-avatar-container" *ngIf="!selectedUser">
              <img
                class="avatar"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1200px-Placeholder_no_text.svg.png"
                alt=""
              />
            </div>
            <div class="header-avatar-container" *ngIf="selectedUser">
              <img class="avatar" src="{{ selectedUser.avatar?.url }}" alt="" />
            </div>
            <div class="online-dot-container">
              <div
                [ngClass]="
                  isUserLoggedIn(selectedUser?._id) ? 'green-dot' : 'red-dot'
                "
              ></div>
            </div>
            <div class="flex justify-content-between align-items-center w-full">
              <h4 *ngIf="selectedUser" class="mb-0 pl-2">
                {{ selectedUser.name + " " + selectedUser.surname }}
              </h4>
              <h4 *ngIf="!selectedUser" class="mb-0 pl-2">No user selected</h4>
              <div class="action-buttons-container">
                <div
                  [pTooltip]="getStreamActionTooltip('call')"
                  [tooltipPosition]="'left'"
                  class="inline-block"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-phone"
                    class="p-button-rounded p-button-success p-button-icon-only mr-2"
                    [disabled]="isStreamingActionDisabled()"
                    (click)="startVoiceCall()"
                  ></button>
                </div>

                <div
                  [pTooltip]="getStreamActionTooltip('video')"
                  [tooltipPosition]="'left'"
                  class="inline-block"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-video"
                    class="p-button-rounded p-button-icon-only"
                    [disabled]="isStreamingActionDisabled()"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <div
            class="message-content-list"
            #messagesContainer
            (scroll)="fetchMessagesOnScroll()"
          >
            <div class="message-spinner-container">
              <i
                *ngIf="areMessagesLoading"
                class="pi pi-spin pi-spinner"
                style="font-size: 2rem"
              ></i>
            </div>
            <div #messagesWrapper>
              <div
                class="card-text message-container px-4"
                #messageRef
                *ngFor="
                  let message of messages;
                  let last = last;
                  trackBy: trackByMessageId
                "
                pTooltip="{{ message.sendTimePretty }}"
                tooltipPosition="left"
                [ngClass]="{
                  'is-mine': message.amIOwner,
                  'pb-4': last
                }"
                [ngStyle]="{
                  'margin-top': message?.replyMessageContent ? '3rem' : '1.5rem'
                }"
              >
                <p-button
                  #messageMoreButtonRef
                  *ngIf="message.amIOwner"
                  icon="pi pi-ellipsis-h"
                  styleClass="message-container__more-button p-button-rounded p-button-secondary p-button-text mr-2"
                  (onClick)="
                    showLeftClickMoreContextMenu(
                      messageItemContextMenu,
                      $event,
                      message
                    )
                  "
                ></p-button>
                <p-contextMenu
                  #messageItemContextMenu
                  [model]="messageMoreMenuLeftClickItems"
                  appendTo="body"
                  (onHide)="onMessageContextMenuHide()"
                ></p-contextMenu>
                <div
                  *ngIf="message.replyMessageContent && selectedUser"
                  class="saved-reply-message__container"
                >
                  <span class="saved-reply-message__heading mr-4">
                    <span>Answering</span>
                    <strong>{{
                      message.amIReplyMessageOwner
                        ? " yourself"
                        : selectedUser.name + " " + selectedUser.surname
                    }}</strong>
                  </span>
                  <div class="saved-reply-message__content-container">
                    <span class="saved-reply-message__content">{{
                      message.replyMessageContent
                    }}</span>
                  </div>
                </div>
                <div class="message-content-container">
                  <span class="message-content">{{ message.content }}</span>
                </div>
              </div>
              <div
                #replyMessageContainer
                *ngIf="
                  selectedReplyMessage && shouldDisplaySelectedReplyMessage
                "
                class="reply-message-container"
              >
                <div class="reply-message-origin">
                  <span class="reply-message-origin__replier"
                    >Reply to {{ selectedReplyMessage.replier }}</span
                  >
                  <i
                    class="pi pi-times reply-message-origin__close-icon"
                    (click)="closeSelectedReplyMessage()"
                  ></i>
                </div>
                <span class="reply-message-origin__content">
                  {{ selectedReplyMessage.content }}
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="message-input-container">
            <input
              pInputText
              class="form-control message-input w-full"
              type="text"
              [(ngModel)]="userMessage"
              (keydown.enter)="sendMessage()"
              [disabled]="privateRoomKey === ''"
              [placeholder]="privateRoomKey === '' ? 'Select user first' : ''"
            />
            <button
              pButton
              type="button"
              label="Send"
              icon="pi pi-send"
              iconPos="right"
              class="p-button-md p-button-primary send-message-button"
              (click)="sendMessage()"
              [disabled]="privateRoomKey === ''"
            ></button>
          </div>
        </ng-template>
      </p-card>
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>
