.container {
  overflow: hidden;
}

.card {
  width: 75%;
}

label {
  padding-bottom: 0.3rem;
}

textarea {
  resize: none;
}

.badge-container {
  padding-top: 0.9rem;
  height: 6rem;
  align-content: flex-start;
}

.offer-heading {
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);

  span {
    padding-left: 1rem;
  }

  fa-icon {
    transform: scale(1.3);
  }
}

.input-group-prepend,
.input-group-text {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.offer-salary {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.action-button-container {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.invalid-feedback {
  position: absolute;
}

.invalid-feedback-offset {
  padding-top: 3rem;
}

input[type="number"] + .invalid-feedback {
  transform: translateY(2.5rem);
}
