<div class="container">
  <div class="row p-4">
    <div class="col-md-4">
      <img class="dashboard-image" src="../../assets/computer-money.jpg" alt="Stonks">
    </div>
    <div class="col-md-8">
      <div class="jumbotron p-4">
        <h1 class="display-4">This is your time!</h1>
        <p class="lead">By using your programming skills, you can earn money</p>
        <hr class="my-4">
        <p>Feel free to browse offers which meet your expectations.</p>
        <button class="btn btn-primary btn-lg" [routerLink]="['../register']" role="button">Go to Register</button>
      </div>
    </div>
  </div>
</div>