.profile-photo-container {
  width: 100%;
  .profile-photo {
    width: 80%;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
}

.card.account-details-card {
  margin-right: 1rem;
}

.avatar-action-container {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.hr-avatar {
  width: 80%;
  margin-top: 2rem;
}

.form-label-group {
  .invalid-feedback {
    position: absolute;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-with-offset {
  margin-top: 2rem;
  padding-top: 1rem;
}

.header-button-group {
  button {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .ng-fa-icon + span {
    margin-left: 0.5rem;
  }
}
