:host ::ng-deep {
  .p-card {
    .p-card-body {
      padding-top: 0;
      background-color: var(--bluegray-900);
      .p-card-content {
        padding-top: 0;
      }
    }
  }
  .p-fileupload-files {
    .p-fileupload-row {
      .p-fileupload-filename {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.profile-photo-container {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  .profile-photo {
    max-height: 300px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

.spinner-container {
  width: 4rem;
  transform: translate(-3rem, 1.2rem);
}

.card.account-details-card {
  margin-right: 1rem;
}

.hr-avatar {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.p-float-label {
  .invalid-feedback {
    position: absolute;
  }

  textarea {
    resize: none;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-with-offset {
  margin-top: 2rem;
  padding-top: 1rem;
}

.header-button-group {
  button {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .ng-fa-icon + span {
    margin-left: 0.5rem;
  }
}
