.profile-photo-container {
  width: 100%;
  .profile-photo {
    width: 80%;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-with-offset {
  margin-top: 2rem;
  padding-top: 1rem;
}

.photo-button-group {
  margin-top: 1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.photo-button-group,
.header-button-group {
  .ng-fa-icon + span {
    margin-left: 0.4rem;
  }
}
