:host ::ng-deep .p-card {
  border-radius: 1rem;
  .p-card-header {
    background-color: var(--bluegray-700);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .p-card-body {
    padding-top: 2rem;
    background-color: var(--bluegray-900);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .p-card-content {
      padding-top: 0;
    }
  }
}

.container-fluid {
  overflow: hidden;
}

.padding-with-offset {
  padding-top: 3.6rem;
  padding-bottom: 1rem;
}

hr {
  margin-top: 2rem;
}

.card-header {
  border-radius: 1rem;
}

.p-float-label {
  textarea {
    resize: none;
  }

  .invalid-feedback {
    padding-top: 0.5rem;
    position: absolute;
    font-size: 0.8rem;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
  }

  select.custom-select {
    height: 2.4rem;
  }
}

input[type="radio"],
input[type="radio"] + label {
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
  }
}

input[type="radio"]:checked + label {
  transition: all 0.2s;
  padding-left: 1rem;
}
